USE [master]
GO
/****** Object:  Database [ecommerce_laptop]    Script Date: 20/9/2026 2:37:50 pm ******/
CREATE DATABASE [ecommerce_laptop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ecommerce_laptop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ecommerce_laptop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ecommerce_laptop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ecommerce_laptop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ecommerce_laptop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ecommerce_laptop]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 20/9/2026 2:37:50 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 20/9/2026 2:37:50 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[BrandId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 20/9/2026 2:37:50 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[CartItemId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[LaptopId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CartItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 20/9/2026 2:37:50 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 20/9/2026 2:37:50 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[Role] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Laptops]    Script Date: 20/9/2026 2:37:50 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laptops](
	[LaptopId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[StockQuantity] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[BrandId] [int] NOT NULL,
	[Rate] [int] NULL,
	[CPU] [nvarchar](100) NULL,
	[RAM] [nvarchar](50) NULL,
	[Storage] [nvarchar](50) NULL,
	[Screen] [nvarchar](100) NULL,
 CONSTRAINT [PK_Laptops] PRIMARY KEY CLUSTERED 
(
	[LaptopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 20/9/2026 2:37:50 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[LaptopId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 20/9/2026 2:37:50 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ReceiverName] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlists]    Script Date: 20/9/2026 2:37:50 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlists](
	[WishlistId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[LaptopId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Wishlists] PRIMARY KEY CLUSTERED 
(
	[WishlistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260312092755_panh', N'6.0.30')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260325081901_panh', N'6.0.30')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260325083335_phuonganh', N'6.0.30')
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([BrandId], [Name]) VALUES (1, N'Dell')
INSERT [dbo].[Brands] ([BrandId], [Name]) VALUES (2, N'Asus')
INSERT [dbo].[Brands] ([BrandId], [Name]) VALUES (3, N'HP')
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItems] ON 

INSERT [dbo].[CartItems] ([CartItemId], [CustomerId], [LaptopId], [Quantity]) VALUES (14, 1, 3, 1)
INSERT [dbo].[CartItems] ([CartItemId], [CustomerId], [LaptopId], [Quantity]) VALUES (16, 1, 2, 2)
SET IDENTITY_INSERT [dbo].[CartItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [Name]) VALUES (1, N'Laptop Gaming')
INSERT [dbo].[Categories] ([CategoryId], [Name]) VALUES (2, N'Laptop Văn Phòng')
INSERT [dbo].[Categories] ([CategoryId], [Name]) VALUES (3, N'Laptop Sinh Viên')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [FullName], [Email], [Password], [PhoneNumber], [Address], [Role]) VALUES (1, N'khach', N'test@gmail.com', N'123123', N'0132737474', N'Bình Dương', N'Customer')
INSERT [dbo].[Customers] ([CustomerId], [FullName], [Email], [Password], [PhoneNumber], [Address], [Role]) VALUES (2, N'Quản trị viên', N'laiduyphat@gmail.com', N'123456', N'0123456789', N'Bình Dương', N'Admin')
INSERT [dbo].[Customers] ([CustomerId], [FullName], [Email], [Password], [PhoneNumber], [Address], [Role]) VALUES (3, N'test324', N'test123@gmail.com', N'123123', N'0223958323', N'Bình Dương', N'Customer')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Laptops] ON 

INSERT [dbo].[Laptops] ([LaptopId], [Name], [Price], [ImageUrl], [Description], [StockQuantity], [CategoryId], [BrandId], [Rate], [CPU], [RAM], [Storage], [Screen]) VALUES (1, N'Dell Inspiron 15', CAST(18000000.00 AS Decimal(18, 2)), N'product11.png', N'Laptop văn phòng Dell, phù hợp học tập và làm việc.', 10, 2, 1, 4, N'Intel Core i5-1235U', N'8GB', N'512GB SSD', N'15.6 inch Full HD')
INSERT [dbo].[Laptops] ([LaptopId], [Name], [Price], [ImageUrl], [Description], [StockQuantity], [CategoryId], [BrandId], [Rate], [CPU], [RAM], [Storage], [Screen]) VALUES (2, N'Dell Vostro 14', CAST(19500000.00 AS Decimal(18, 2)), N'product12.png', N'Laptop Dell thiết kế gọn nhẹ, hiệu năng ổn định cho dân văn phòng.', 8, 2, 1, 4, N'Intel Core i5-1135G7', N'8GB', N'512GB SSD', N'14 inch Full HD')
INSERT [dbo].[Laptops] ([LaptopId], [Name], [Price], [ImageUrl], [Description], [StockQuantity], [CategoryId], [BrandId], [Rate], [CPU], [RAM], [Storage], [Screen]) VALUES (3, N'Asus TUF Gaming F15', CAST(24500000.00 AS Decimal(18, 2)), N'product13.png', N'Laptop gaming Asus với hiệu năng mạnh, phù hợp chơi game và đồ họa.', 7, 1, 2, 5, N'Intel Core i7-12700H', N'16GB', N'512GB SSD', N'15.6 inch 144Hz')
SET IDENTITY_INSERT [dbo].[Laptops] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [LaptopId], [Quantity], [UnitPrice]) VALUES (1, 1, 2, 1, CAST(19500000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [LaptopId], [Quantity], [UnitPrice]) VALUES (2, 1, 4, 1, CAST(17200000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [LaptopId], [Quantity], [UnitPrice]) VALUES (3, 3, 6, 1, CAST(23800000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [OrderDate], [TotalAmount], [Status], [CustomerId], [ReceiverName], [PhoneNumber], [Address], [Note]) VALUES (1, CAST(N'2026-09-12T17:43:27.1470851' AS DateTime2), CAST(36700000.00 AS Decimal(18, 2)), N'Chờ xác nhận', 1, N'khach', N'0132737474', N'Bình Dương', N'aa')
INSERT [dbo].[Orders] ([OrderId], [OrderDate], [TotalAmount], [Status], [CustomerId], [ReceiverName], [PhoneNumber], [Address], [Note]) VALUES (2, CAST(N'2026-09-12T17:57:51.0662072' AS DateTime2), CAST(23800000.00 AS Decimal(18, 2)), N'Chờ xác nhận', 1, N'khach', N'0132737474', N'Bình Dương', N'don 2 ne')
INSERT [dbo].[Orders] ([OrderId], [OrderDate], [TotalAmount], [Status], [CustomerId], [ReceiverName], [PhoneNumber], [Address], [Note]) VALUES (3, CAST(N'2026-09-12T17:57:51.0998247' AS DateTime2), CAST(23800000.00 AS Decimal(18, 2)), N'Chờ xác nhận', 1, N'khach', N'0132737474', N'Bình Dương', N'don 2 ne')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Wishlists] ON 

INSERT [dbo].[Wishlists] ([WishlistId], [CustomerId], [LaptopId], [CreatedAt]) VALUES (8, 1, 3, CAST(N'2026-08-26T18:29:09.8947800' AS DateTime2))
INSERT [dbo].[Wishlists] ([WishlistId], [CustomerId], [LaptopId], [CreatedAt]) VALUES (10, 1, 1, CAST(N'2026-08-26T19:06:27.4361659' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Wishlists] OFF
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (N'Customer') FOR [Role]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Customers]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Laptops] FOREIGN KEY([LaptopId])
REFERENCES [dbo].[Laptops] ([LaptopId])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Laptops]
GO
ALTER TABLE [dbo].[Laptops]  WITH CHECK ADD  CONSTRAINT [FK_Laptops_Brands_BrandId] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([BrandId])
GO
ALTER TABLE [dbo].[Laptops] CHECK CONSTRAINT [FK_Laptops_Brands_BrandId]
GO
ALTER TABLE [dbo].[Laptops]  WITH CHECK ADD  CONSTRAINT [FK_Laptops_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Laptops] CHECK CONSTRAINT [FK_Laptops_Categories_CategoryId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Laptops_LaptopId] FOREIGN KEY([LaptopId])
REFERENCES [dbo].[Laptops] ([LaptopId])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Laptops_LaptopId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders_OrderId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers_CustomerId]
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD  CONSTRAINT [FK_Wishlists_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlists] CHECK CONSTRAINT [FK_Wishlists_Customers_CustomerId]
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD  CONSTRAINT [FK_Wishlists_Laptops_LaptopId] FOREIGN KEY([LaptopId])
REFERENCES [dbo].[Laptops] ([LaptopId])
GO
ALTER TABLE [dbo].[Wishlists] CHECK CONSTRAINT [FK_Wishlists_Laptops_LaptopId]
GO
USE [master]
GO
